

<%- include('../partials/header') %>


<form action="/cocktails/<%= cocktail._id %>?_method=PUT" method="POST">


<div id="newCocktail"> <label>Name of the Drink :</label> 
 <input type="text" name="title" value = "<%=cocktail.title%>"> 


<label>Ingredients Needed:</label>
<input type="text" name="ingredients" value="<%=cocktail.ingredients%>"></input>

<label>Description :</label>
<input type="text" name="description" value="<%=cocktail.description%>"></input>

</div>

<div id="addButton">
    <button type="submit">Edit Drink</button>
</div>
</form>

<%- include('../partials/footer') %>