<%- include('../partials/header') %>
<section id="show-page">
    <div>Title: </div> 
    <div><%= cocktail.title %></div>

    <div>Ingredients: </div> 
    <div><%= cocktail.ingredients %></div>

    <div>Description: </div> 
    <div><%= cocktail.description %></div>

    



<% if (cocktail.comments.length) { %>
    <table>
      <thead>
        <tr>
          
      
        </tr>
      </thead>
      <tbody>
        <% cocktail.comments.forEach(function(c) { %>
          <tr>
            <td><%= c.comment %></td>
      
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No comments Yet</h5>
  <% } %>



  


  <form action="/cocktails/<%= cocktail._id %>/comments" method="POST">
    <!-- Be sure name attributes of inputs match the model properties -->
    <input name="comment">
    <button type="submit">ADD COMMENT</button>
  </form>

  </section>



  <%- include('../partials/footer') %>