<%- include('../partials/header') %>
<section id="show-page">
    <div>Title: </div> 
    <div><%= cocktail.title %></div>

    <div>Ingredients: </div> 
    <div><%= cocktail.ingredients %></div>

    <div>Description: </div> 
    <div><%= cocktail.description %></div>

  



<h2>Comments</h2>
  
<% cocktail.comments.forEach(function(comment) { %>
    <div class="comment">
      <%= comment.comment %><br>
      <% if (user && comment.user.equals(user._id)) { %>
        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      <% } %>
    </div>
  <% }) %>



  <form action="/cocktails/<%= cocktail._id %>/comments" method="POST">
    <!-- Be sure name attributes of inputs match the model properties -->
    <input name="comment">
    <button type="submit">ADD COMMENT</button>
  </form>


  


  </section>



  <%- include('../partials/footer') %>