<%- include('../partials/header') %>

<section id="editButtons">
<% if (user && cocktail.user.equals(user._id)) { %>
<form action="/cocktails/<%= cocktail._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Post</button>
  </form>



  <a href="/cocktails/<%= cocktail._id %>/edit?_method=EDIT"><button>Edit Post</button></a>

  <% } %>

</section>

<div id="drinks">
    <div id="show-page-title"><%= cocktail.title %></div>
    <section id="show-page">
    <div>Ingredients: </div> 
    <div><%= cocktail.ingredients %></div>

    <div>Description: </div> 
    <div><%= cocktail.description %></div>
</section>
</div>
<hr> 
<section id="commentShow"> 
<h2 >Comments</h2>

<% cocktail.comments.forEach(function(comment) { %>
    <div class="comment">
      <%= comment.comment %><br>
      <% if (user && comment.user.equals(user._id)) { %>
        <form id="deleteComment" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      
         
           <a href='/comments/<%=comment._id%>/edit'><button type="submit">UPDATE</button></a>
          

      <% } %>
    </div>
  <% }) %>



  <form id="addComment" action="/cocktails/<%= cocktail._id %>/comments" method="POST">
    <input name="comment">
    <button type="submit">ADD COMMENT</button>
  </form>

</section>
  






  <%- include('../partials/footer') %>